# Virtual Environment
pymeetings/
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / Packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Media Files (optional, but good for video processing repos)
*.mp4
*.mkv
*.avi
*.mov
*_crop.jpg
*_crop.png
*_camera.jpg
*_camera.png
