# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
pymeetings/
venv/
env/

# IDE
.vscode/
.idea/

# Media
*.mp4
*.mkv
*.mov
*.avi
*.mp3
*.wav
*.jpg
*.png

# Output/Reports
*.csv
ts_frames_*/
